################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/UserSync/bin
/UserSync/UserSync.csproj.user
/UserSync/obj/
/MigrationBackup