
@{
    ViewBag.Title = "Re-Authentication";
}


<p>You might need to re-authenticate to see this page. Click @Html.ActionLink("here", "SignIn", "Account", new { redirectUri = ViewBag.RedirectUri }, null) to re-authenticate.</p>